<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>health</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
</head>
<body class="d-flex flex-column h-100">
  <br>
  <div class="container" id="main-container">
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4"><b>Prendre un Rendez-vous</b></h1>
        </div>
    </div>

    <!-- Add Rdv Modal -->
  
    <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="shadow p-3 mb-5 bg-body rounded" >
            <div class="card">  
                <div class="card-body">          
              <form #addForm="ngForm" (ngSubmit)="onAddRdv(addForm)">
                <div class="form-group">
                  <label for="email">Comfirmer votre email</label>
                  <input type="text" ngModel name="email" class="form-control" id="email" required>
              </div>
                <div class="form-group">
                    <label for="titre">Quel est la raison de votre prise de rendez-vous ?</label>
                    <textarea type="text" ngModel name="titre" class="form-control" id="titre" rows="3" required ></textarea>
                </div>
                <div hidden>
                  <input type="text" ngModel="Non-Traite" name="etat" class="form-control" id="etat"  required >
              </div>
                <div class="form-group">
                  <h6>*optionnel</h6>
                <label class="form-label">Quel spécialiste solicitez-vous?</label><br>
                    <select class="form-select" ngModel type="text" ngModel name="specialite" class="form-control" id="specialite" >
                        <option selected>Cardiologue</option>
                        <option value="Pediatre">Pediatre</option>
                        <option value="Generaliste">Generaliste</option>
                        <option value="Ophtalmologue">Ophtalmologue</option>
                        <option value="Gynecologue">Gynecologue</option>
                        <option value="Dentiste">Dentiste</option>
                    </select>
                </div>
                <div>
                <label class="form-label">Date</label>
                <input type="datetime-local" class="form-control" ngModel name="date" id="date"  required>
                <br>
                </div>
                <br> 
                <div class="modal-footer">
                <button type="reset" id="addRdv" class="btn btn-secondary">Annuler</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-success">Prendre RDV</button>
              </div>
          </form>
        </div>  
        </div>
        </div> 
    </div>
    </div>
  </div>
</body>
</html>