<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<body>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-12"><br>
          <div align="left" class="">
            <p class="display-4"><b> SPACE</b></p>
        </div>
          <p>Nous sommes un hôpital qui offre une large gamme de services de santé pour répondre aux besoins de notre communauté. Nous avons une équipe de professionnels de la santé hautement qualifiés et dévoués, qui travaillent ensemble pour assurer la meilleure qualité de soins possible à chaque patient.</p>
         <h2>Nos Services</h2>
          <div class="row">
            <div class="col-md-4">
              <img src="assets/img/modern.jpg"  width="300">
              <h3><b>Laboratoire</b></h3>
              <p>Notre laboratoire est équipé d'une technologie de pointe et dispose d'un personnel qualifié pour effectuer tous types d'analyses et de tests de laboratoire. Nous proposons également des analyses de biologie médicale, de génétique et de toxicologie.</p>

            </div>
            <div class="col-md-4">
              <img src="assets/img/pediatrie.png" width="300">
              <h3><b>Pédiatrie</b></h3>
              <p>Notre service de pédiatrie est dédié aux soins de qualité pour les enfants de tous âges. Nous disposons d'une équipe de pédiatres et de personnel médical expérimenté pour prendre en charge les besoins de votre enfant.</p>

            </div>
            <div class="col-md-4 ">
              <img src="assets/img/generaliste.jpg"  width="300">
              <h3><b>Généraliste</b></h3>
              <p>Notre service de médecine générale est dirigé par une équipe de médecins généralistes expérimentés et qualifiés. Nous proposons des consultations de médecine générale pour tous les membres de votre famille.</p>
              <br><br><br>
            </div>
            
            <div class="col-md-4">
              <img src="assets/img/ophtalmologie.jpg"  width="300">
              <h3><b>Ophtalmologie</b></h3>   
              <p>Notre service d'ophtalmologie est dirigé par une équipe de médecins spécialistes de l'oeil. Nous proposons des consultations pour tous les problèmes oculaires, ainsi que des opérations chirurgicales de l'oeil.</p>

            </div>
            
            <div class="col-md-4">
              <img src="assets/img/dentiste.png"  width="300">
              <h3><b>Dentiste</b></h3>
              <p>Notre service de dentisterie est dirigé par une équipe de dentistes expérimentés et qualifiés. Nous proposons des consultations pour tous les problèmes dentaires, ainsi que des traitements dentaires tels que des soins dentaires, des implants et des prothèses.</p>

            </div>
            <div class="col-md-4">
              <img src="assets/img/gynecologue.jpg" alt="Image de la médecine générale "  width="300">
              <h3><b>Gynécologie</b></h3>
              <p>Notre service de gynécologie est dirigé par une équipe de gynécologues expérimentés et qualifiés. Nous proposons des consultations pour tous les problèmes de santé gynécologique, ainsi que des opérations chirurgicales gynécologiques.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
 
    
</body>
