<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link th:href="@{styles/main.css}" rel="stylesheet"/>
    </head>
    <body>
    <div class="container" id="main-container">
            <div class="container mt-5">
                <div class="jumbotron">
                    <h1 class="display-4"><b>CONSULTATION</b> </h1>
                    <button class="btn btn-outline-success offset-sm-10" (click)="onOpenModals('add')" data-bs-toggle="modal">Rediger une consultation </button>
                </div>
            </div>
        <main role="main" class="flex-shrink-0" style="font-family: monospace">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <!-- <div class="shadow p-3 mb-5 bg-body rounded">
                    <div align="center"><img src="assets\img\cons.jpg" width="190" height="140" ></div>
              </div>   -->
            </div>
            </div>
            <div *ngFor="let consultation of consultations" class="mb-3"></div>
            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="container-fluid text-center">
                <div><h1>Liste consultation <b>{{consultations.length}} </b> </h1></div>
                <form  class="navar-form navbar-left">
                    <div class="form-group">
                      <h3> Recherche consultation	 <input type="search" (ngModelChange)="searchConsultation(key.value)" #key="ngModel" ngModel
                        name="key" id="searchName"  >
                        </h3>
                    </div>
                    </form>
                </div>
            </div>
            <div id="content" #content>
                <table class="table  table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Medecin</th>
                            <th>Prenom</th>
                            <th>NOM</th>
                            <th>Date Consultation</th>
                            <th>Observation</th>
                            <th>Medicament</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                          <tr *ngFor="let consultation of consultations">
                                <td>{{consultation.medecin}}</td>
                                <td>{{consultation.prenom}}</td>
                                <td>{{consultation.nom}}</td>
                                <td>{{consultation.date}}</td>
                                <td>{{consultation.observation}}</td>
                                <td>{{consultation.medicament}}</td>
                                <td>
                                <a (click)="onOpenModal(consultation,'edit')"  data-placement="top" data-original-title="Edit"><img class="btn btn-outline-success" src="assets\img\up.png"  width="50"></a> 
                                <a (click)="onOpenModal(consultation,'delete')"  data-placement="top" data-original-title="Delete"><img class="btn btn-outline-danger offset-sm-1" src="assets\img\delete.png" width="50"></a>
                                <a (click)="printConsultation()"  data-placement="top" data-original-title="Delete"><img class="btn btn-outline-info offset-sm-1" src="assets\img\down.png" width="50"></a>

                            </td>
                            </tr>
                    </tbody>
                </table>
            </div>
               
        </main>
         <!-- Add Personnel Modal -->
         <div class="modal fade " id="addConsultationModal" >
            <div class="modal-dialog " role="document">
            <div class="modal-content">
            <div class="modal-body">              

         <div class="row justify-content-center">
            <!-- <div class="col-md-10"> -->
                    <!-- <div align="center"><img src="assets\img\cons.jpg" width="690" height="240" ></div><br><br> -->
              <form #addForm="ngForm" (ngSubmit)="onAddConsultation(addForm)">
                <div class="form-group" hidden>
                    <label class="form-label">Medecin</label>
                    <input type="text" class="form-control" ngModel="Cardiologue" name="medecin" id="medecin" placeholder="Medecin" required>

                </div>
                <div class="form-group">
                    <label class="form-label">Prenom</label>
                    <input type="text" class="form-control" ngModel name="prenom" id="prenom" placeholder="Prenom" required>
                </div>
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="Nom" required>
                </div>
                <div class="form-group">
                    <label class="form-label">Date</label>
                    <input type="datetime-local" class="form-control" ngModel name="date" id="date"  required>
                </div>
                <div class="form-group">
                    <label for="observation">Observation</label>
                    <textarea type="text" ngModel name="observation" class="form-control" id="observation" rows="4" required placeholder="Observation" ></textarea>
                </div>
                <div class="form-group">
                    <label for="medicament">Medicament</label>
                    <input type="text" ngModel name="medicament" class="form-control" id="medicament" placeholder="Medicament" required>
                </div>
                
            <div class="modal-footer">
            <button type="button" id="addconsultation" class="btn btn-secondary" data-dismiss="modal" >Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-success">Save changes</button>
          </div>
          </form>
        </div>
        <!-- </div>  -->
        </div>
  
</div> 
</div>
</div>
<!-- Edit Modal -->
  
<div class="modal fade" id="updateConsultationModal" tabindex="-1" role="dialog" aria-labelledby="updateconsultationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">   
            <div class="modal-header">
            <h4 class="modal-title" id="updateconsultationModalLabel">Mise à jour de consultation <b>{{editConsultation?.nom}}</b></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">                 
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="medecin">Medecin</label>
                        <input type="text" ngModel="{{editConsultation?.medecin}}" name="medecin" class="form-control" id="medecin" aria-describedby="emailHelp" placeholder="Nom">
                    </div>
                    <div class="form-group">
                            <label for="prenom">Prenom</label>
                            <input type="text" ngModel="{{editConsultation?.prenom}}" name="prenom" class="form-control" id="prenom" aria-describedby="emailHelp" placeholder="Prenom">
                        </div>
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input type="text" ngModel="{{editConsultation?.nom}}" name="nom" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <label for="date">Date Consultation</label>
                            <input type="datetime-local" ngModel="{{editConsultation?.date}}" name="date" class="form-control" id="date" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="nom">Observation</label>
                            <input type="text" ngModel="{{editConsultation?.observation}}" name="observation" class="form-control" id="observation" aria-describedby="emailHelp" placeholder="Observation">
                        </div>
                        <div class="form-group">
                            <label for="medicament">Medicament</label>
                            <input type="text" ngModel="{{editConsultation?.medicament}}" name="medicament" class="form-control" id="medicament" aria-describedby="emailHelp" placeholder="Medicament">
                        </div>
                        <input type="hidden" ngModel="{{editConsultation?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                        <input type="hidden" ngModel="{{editConsultation?.consultationCode}}" name="consultationCode" class="form-control" id="consultationCode" placeholder="Email">
                        
                        <div class="modal-footer">
                            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                            <button (click)="onUpdateConsultation(editForm.value)" data-dismiss="modal" class="btn btn-success">Save changes</button>
                        </div>
                </form>
            </div>
        </div>
  </div>
</div>

 <!-- Delete Modal -->
 <div class="modal fade" id="ConsultationDelete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="deleteModalLabel">Delete Consultation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Voulez-vous vraiment supprimer le consultation <b>{{deleteConsultation?.nom}}</b> ?</h4>
        </div>           
        <div>
          <button type="button" class="btn btn-secondary offset-sm-1" data-dismiss="modal">Non</button>
          <button (click)="onDeleteConsultation(deleteConsultation?.id)" class="btn btn-danger offset-sm-1" data-dismiss="modal">Oui</button>
          <!-- (click)="onDeletePersonnel(deletePersonnel?.id)" -->
        </div>
      </div> 
    </div>
</div>


<!-- Notification for no consultation -->
<div *ngIf="consultations?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
<h4 class="alert-heading">Pas de consultation</h4>
<p>Aucun consultation enregistrer</p>
</div>
</div>
    </div>
    </body>
<html>
    